<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="form-group">
      <label>Date of Birth</label>
      <select
        class="form-control"
        (change)="onChangeDob()"
        [(ngModel)]="selectedDob"
      >
        <option [value]="null" disable>Select</option>
        <option [value]="d" *ngFor="let d of dobArr">{{ d | date }}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="displayToDate">
      <label>To Date</label>
      <select class="form-control" [(ngModel)]="selctedToDate">
        <option [value]="null" disabled>Select</option>
        <option [value]="d" *ngFor="let d of toDateArr">{{ d | date }}</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="calculateAge()">
      Calculate Age
    </button>
  </div>
  <div class="col-4"></div>
</div>
